<h1>Contacts</h1>

<ul>
  <% @contacts.each do |contact| %>
    <li><a href="/contacts/<%= contact.id %>"><%= contact.name %></a></li>
  <% end %>
</ul>

<h2>New contact</h2>

<% if @contact.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @contact.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/contacts" method="post">
  <label for="contact_name">Name</label>
  <input id="contact_name" name="name" type="text" value="<%= @contact.name %>">
  <label for="contact_phone">Phone</label>
  <input id="contact_phone" name="phone" type="text" value="<%= @contact.phone %>">
  <label for="contact_email">Email</label>
  <input id="contact_email" name="email" type="text" value="<%= @contact.email %>">
  <button>Create Contact</button>
</form>
